.pageHeaderWrapper {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid salmon;
  align-items: center;
}

.tableHeaderTitle {
  background: none;
  font-size: 35px;
  color: green; 
  border: none;
}

.pageHeaderNavButton {
  margin: 0 10px;
  background: green;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}

.pageHeaderLabel {
  margin-right: 5px;
}

.pageHeaderDateInput {
  width: 50px;
  padding: 10px;
}
