.frostDateForm {
  display: flex;
}

.pageHeaderDateInput {
  width: 50px;
  padding: 10px;
  border: solid 2px #1D80AF;
}

.pageHeaderFrostDateButton {
  margin: 0 10px;
  background: linear-gradient(45deg,#08b3e5,#1d80af,#1c61b1,#1d80af,#08b3e5);
  background-size: 150% 100%; /* Double the width to allow for smooth movement */
  background-position: left;  /* Start position */
  transition: background-position 1s ease; /* Smooth transition for background position */
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.pageHeaderFrostDateButton:hover {
  background-position: right; /* On hover, move the gradient */
}


.pageHeaderLabel {
  margin: 0 10px;
  color: #1d80af;
  font-weight: bold;
  font-size: 18px;
}
