.loginWrapper {
  width: 200px;
  background: rgb(212, 212, 212);
  padding-bottom: 15px;
}
.login-header {
  padding-top: 15px;
}
.login-form-div {
  padding-bottom: 10px;
}
.login-form-label {
  font-weight: bold;
  padding-right: 5px;
}